.footer-background {
    background-color: rgb(36, 221, 92);
    height: 30vh!important;
    color: white;
    margin: 5em 0em 0em;
    padding: 5em 0em;
    box-shadow: none;
    border: none;
  }
p {
  font-size: large;
  height: 40vh;
}
#root{
    height: 100vh!important;
  alignment: center;
  }
