.footer-background {
  background-color: rgb(36, 221, 92);
  height: 30vh!important;
  color: white;
  box-shadow: none;
  border: none;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
p {
  font-size: large;
}
#root{
  height: 100vh!important;
  alignment: center;
background-color: limegreen;
}